/* ######################################   CSS général pour les pages "dynamiques"   ###################################### */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* pour inclure les paddings et les bordures dans la largeur et la hauteur */
}

/* Définition des styles pour le HTML et le Body */
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #21242f;
    color: white;
}

/* Style du header */
.header-page-générale {
    min-height: 60vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/femme-touriste-attendant-train.jpg) center/cover;
    position: relative;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styles pour la barre de navigation */
.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lien-haut-centre {
    margin: 0;
}

.logo-rond {
    width: 200px;
}

.texte-header h1 {
    margin: 20px 0;
}

/* Styles pour le message d'accueil */
h1 {
    font-size: 36px;
}

footer { /* zone du bas */
    background-color: #21242f; /* fond */
    border-top: 1px solid #ffb4a2; /* bordure en haut de 1px */
    margin: 2em 0 0 0; /* marge du dessus */
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #6d6875;
}

footer p {
    margin: 7px 0 0 0;
}


/* ######################################   CSS pour la partie (classe) : action-button   ###################################### */


.button-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.button-list button {
    background-color: #245228;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
}

.button-list li a {
    text-decoration: none;
}

.button-list button:hover {
    background-color: #8fbc8f;
}

/* ######################################   CSS pour la partie (classe) : corps de la page   ###################################### */

.corps-de-la-page {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#profil,
#formulaires {
    width: 45%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}


/* ######################################   CSS pour la partie messages en JavaScript   ###################################### */

#error-message, #success {
    color: #ad3333;
    position: absolute;
    bottom: 0;  /* Le message s'affiche en bas du conteneur */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;  /* Ajoutez du padding pour l'espacement du message */
    margin: 0;  /* Supprimez la marge par défaut */
    background-color: #fff;  /* Ajoutez un arrière-plan pour améliorer la lisibilité */
    border-radius: 5px;  /* Arrondi les coins du message */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* Ajoute une ombre pour la mise en évidence */
}




