
/* ######################################   CSS pour les tableaux   ###################################### */

table {
    border: 5px solid black;
    width: 100%;
    border-collapse: collapse;
    background-color: #2c3142;
    color: #fff;
    margin: auto;
}

tr {
    border-bottom: 1px solid #52637a;
}

th, td {
    padding: 15px;
    margin: 5px;
    text-align: center;
    width: 50px;
    overflow: auto;
}

thead {
    background-color: #39445a;
    color: #fff;
}

a {
    color: #00a7d0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}





/* ######################################   CSS pour les formulaires  ###################################### */
form {
    max-width: 400px;
    background-color: #2c3142;
    padding: 20px;
    border-radius: 8px;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    margin: auto;
}


.password-container {
    position: relative;
}

.password-container > input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #52637a;
    border-radius: 4px;
    background-color: #39445a;
    color: #ffffff;
}

.password-container > .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    transition: all 0.2s;
}

.password-container > .password-icon:hover {
    cursor: pointer;
    color: #ff4754;
}

.password-container .password-icon .feather-eye-off {
    display: none;
}


label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

select,
input[type="number"],
input[type="password"],
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #52637a;
    border-radius: 4px;
    background-color: #39445a;
    color: #ffffff;
}

input[type="submit"] {
    background-color: #00a7d0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00778f;
}

.error-message {
    color: #ff5252;
    margin-top: 5px;
}








/* ######################################   CSS pour les boutons  ###################################### */
.journal-navigation {
    list-style-type: none;
}

.journal-navigation li {
    display: inline-block;
    margin-right: 10px;
}

journal-navigation button {
    background-color: #ffcdb2;
    color: #21242f;
    border-color: #ffcdb2;
    padding: 10px 15px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
    transition: 1s;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.journal-navigation li a {
    text-decoration: none;
}

.journal-navigation button:hover {
    background-color: transparent;
    border: 2px solid #ffcdb2;
    backdrop-filter: blur(2px);
    color: white;
}

#table-mes-tickets tbody tr.even {
    background-color: #434865;
}

#table-tickets-details tbody tr.even {
    background-color: #434865;
}

#table-activites tbody tr:nth-child(even) {
    background-color:  #434865;
}

.table-fonctions-logs tr.even {
    background-color: #434865;
}

