/* Réinitialisation des styles par défaut du navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* pour inclure les paddings et les bordures dans la largeur et la hauteur */
}

/* Définition des styles pour le HTML et le Body */
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #21242f;
    color: white;
}

body, h1, h2, h3, p, ul, li, a {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Styles pour le message d'accueil */
h1 {
    font-size: 30px;
}
/* Style général de la page */

.container {
    width: 80%;
    margin: 0 auto;
}

/* Style de la section d'en-tête */
.header-page-générale {
    min-height: 30vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/femme-touriste-attendant-train.jpg) center/cover;
    color: white;
    padding: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* Styles pour la barre de navigation */
.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logos {
    list-style-type: none;
}

.lien-haut-centre {
    margin: 0;
}

.logo-rond {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.texte-header {
    margin: 20px 0;
}

/* Style des boutons d'action */
.action-button {
    text-align: center;
    margin-top: 20px;
}
.action-button-profil{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-list {
    list-style-type: none;
}

.button-list li {
    display: inline-block;
    margin-right: 10px;
}

button {
    background-color: #ffcdb2;
    color: #21242f;
    border-color: #ffcdb2;
    padding: 10px 15px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
    transition: 1s;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.button-list li a {
    text-decoration: none;
}

.button-list button:hover {
    background-color: transparent;
    border: 2px solid #ffcdb2;
    backdrop-filter: blur(2px);
    color: white;
}

/* ######################################   CSS pour la partie (classe) : corps de la page (utilisateur.php)  ###################################### */


/* Style de la section principale */
.corps-de-la-page {
    margin: 20px 0;

}

/* Style des formulaires et des tableaux */
#profil-utilisateur, #profil-general {
    background-color: #2d3142;
    box-shadow: 0 2px 4px rgb(126, 79, 70);
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background: linear-gradient(to right, #485563, #29323c);
    color: #ffffff;
    font-weight: bold;
}

/* ######################################   CSS pour la partie messages en JavaScript   ###################################### */

#error-message, #success {
    color: #ad3333;
    position: absolute;
    top: 50px;  /* Le message s'affiche en haut du conteneur */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;  /* Ajoutez du padding pour l'espacement du message */
    margin: 0;  /* Supprimez la marge par défaut */
    background-color: #fff;  /* Ajoutez un arrière-plan pour améliorer la lisibilité */
    border-radius: 5px;  /* Arrondi les coins du message */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* Ajoute une ombre pour la mise en évidence */
}


/* Style du pied de page */
footer { /* zone du bas */
    background-color: #21242f; /* fond */
    border-top: 1px solid #ffb4a2; /* bordure en haut de 1px */
    margin: 2em 0 0 0; /* marge du dessus */
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #6d6875;
}

footer p {
    margin: 7px 0 0 0;
}

/* ######################################   CSS pour la partie (classe) : corps de la page (tableau_de_bord_utilisateur.php)  ###################################### */

.corps-de-la-page-2 {
    display: flex;
    text-align: center;
    padding: 100px;
}

#vos-tickets-utilisateurs {
    margin-left: auto;
    margin-right: auto;
    width: 100% ;
}

#vos-tickets-techniciens,
#formulaires-tickets {
    width: 50%;
}

#journal {
    width: 100% ;
}
